@import '~pico-css/dist/pico.min.css';


html body {
    border-radius: 8px;
}

body {
    width: 800px;
}

.testing-url-input-container {
    display: flex;
}

.testing-url-input-container input:first-child {
    flex: 1;
}

.testing-url-input-container input:nth-child(2) {
    flex: 3;
}